*
{
    margin: 0;
    padding: 0;
}

.container_Video .containerVideo
{
    background-color: #030729;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video
{
    margin-left: 7.5%;
    width: 85%;
    align-items: center;
    justify-content: center;
    
    /*
    
    position: absolute;
    top: 50%;
    left: 42.5%;
    transform: translate(-50%, -50%);
    */
}


.controlsVideo
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(0,0,0,0.5);
}

*
{
    font-family: Arial, Helvetica, sans-serif;
}

.progressVideo
{
    position: absolute;
    bottom: 45px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    height: 8%;
    border-radius: 5px; 
    background-color: #333;
}

.progressVideo .barVideo
{
    height: 6px;
    width: 0%;
    background-color: #ff2a00;
    border-radius: 5px;
}

.timeVideo
{
    position: absolute;
    left: 45px;
    bottom: 19px;
    line-height: 15px;
    color: #fff;
}

.pull-rightVideo
{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.volume_btnVideo.active
{
    right: 200px;
}

.volume_rangeVideo
{
    position: absolute;
    right: 65px;
    top: 6px;
    visibility: hidden;
    opacity: 0;
}

.volume_rangeVideo.active
{
    visibility: visible;
    opacity: 1;
}

.volume_btnVideo
{
    position: absolute;
    right: 65px;
    top: 0;
}


.icon_white
{
    color: white;
}

.med_icon
{
    font-size: 24px;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.pointer
{
    cursor: pointer;
}

.submenu
{
    position: absolute;
    top:20px;
    left: 0;
}

.submenu .menu
{
    position: relative;
    background: transparent;
    width: 50px;
    height: 50px;
    border: none;
    line-height: 50px;
    text-align: center;
    margin-top: 5px;
}

.submenu .menu .menu_btn
{
    
}

input[type=range] 
{
    -webkit-appearance: none;
}
  
input[type=range]:focus 
{
    outline: none;
}
  
input[type=range]::-webkit-slider-runnable-track 
{
    width: 100%;
    height: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #6d6d6d;
    border-radius: 25px;
    border: 0px solid #6d6d6d;
    float: left;
}
  
input[type=range]::-webkit-slider-thumb 
{
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, .1), 0px 5px 10px 2px rgba(0, 0, 0, .15);
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #f00;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
}